<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
    <h1>登录</h1>
    <form class="pure-form" action="/login" method="POST">
        <input name="username" class="form-control" placeholder="输入用户名" />
        <br>
        <input name="password" class="form-control" placeholder="输入密码" />
        <br>
        <button class="pure-button pure-button-primary" type="submit">登录</button>
    </form>
    {% for m in get_flashed_messages() %}
    <h4>{{ m }}</h4>
    {% endfor %}
    <hr>
    <h1>注册</h1>
    <form class="pure-form" action="/register" method="POST">
        <input name="username" class="form-control" placeholder="输入用户名" />
        <br>
        <input name="password" class="form-control" placeholder="输入密码" />
        <br>
        <input name="sex" class="form-control" placeholder="输入性别" />
        <br>
        <input name="signature" class="form-control" placeholder="输入个性签名" />
        <br>
        <button class="pure-button pure-button-primary" type="submit">注册</button>
    </form>
</body>
</html>